html {
    background: whitesmoke;
    font-family: Sana, sans-serif;
}

@media only screen and (max-width: 640px) {

}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.topbar {
    background: white;
    padding: 60px 30px;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    box-shadow: 0 1px 0 0 rgba(3 3 3);
    vertical-align: baseline
}

.ul-logo {
    vertical-align: middle;
    display: inline-block;
}

.logo {
    color: #333;
    font-size: 32px;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
    padding-left: 4px;
}

.user-links {
    position: relative;
    display: inline-block;
    float: right;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 3px;
}

.nav-link {
    padding-left: 25px;
    display: inline;
}

.nav-link a {
    text-decoration: none;
    color: inherit;
}

.bold-link {
    font-weight: bold;
}

.main-image {
    display: inline;
    width: 100%;
    height: 1225px;
}

.main-image img {
    object-fit: fill;
    width: 100%;
}

.user-headline {
    position: relative;
    bottom: 200px;
}

.user-headline h2 {
    color: white;
    font-size: 32px;
    text-align: center;
}

.user-headline .user-name {
    padding: 30px 0;
    text-transform: uppercase;
}

.mobile-center-text {
    width: 80%;
    display: inline-block;
    position: relative;
    padding: 0 10%;
}

.profile {
    top: -50px;
}

.external-site {
    text-align: center;
    vertical-align: middle;
}

.external-site-wrapper {
    width: 100%;
    border-color: #6C45C4;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 25px 90px;
    border-radius: 15px;
    background-color: #6C45C4;
}
.external-site-wrapper img {
    vertical-align: middle;
}
.external-site-link {
    display: inline;
    font-size: 25px;
    color: white;
    vertical-align: bottom;
    text-decoration: none;
    padding-left: 10px;
}

.bio p {
    font-size: 24px;
    color: #333333;
    padding: 20px 0px;
}

.meta {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.meta h3 {
    text-transform: uppercase;
    text-space: 2px;
    color: #999;
    letter-spacing: 10px;
}

.meta p {
    padding: 20px 0 50px 0;
}

.social-link-section {
    text-align: center;
}

.social-link-item {
    display: inline-block;
    padding: 15px 35px;
}

.social-link-item a img {
    width: 72px;
}

footer {
    height: 300px;
    background-image: url("img/bg.jpeg");
    margin-top: 60px;
    text-align: center;
}

footer h2 {
    color: #999;
    font-size: 20px;
    position: relative;
    top: 50%;
}

